<html>
<head>
  <title>Hello Handlebars</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <script url="Assets/js/SockJS.js" ></script>

</head>
<body>
	<script >
		<!--
		sock = new SockJS('/myapp') 
		// -->
	</script>
	<script type="text/javascript">
		<!--
		var answer = prompt ("What is your name ?","")
		alert ("Hello there, " + answer)
		sock.send('answer')
		sock.sock.onmessage = function(e) {
  			console.log('message', e.data);
		};
		// -->
	</script> 
  <h1>This is my Church!</h1>

  </br>
  <h1>Hello  <script type="text/javascript"> <!-- document.write ( answer ) // -->   </script> !</h1>
  
  
  </br>
  <h1>Hello my {{name}}!</h1>
  
  
  </br>
  </br>
  Messages start here
  
  
</body>
</html>
