<html>
<head>
  <title>Hello Handlebars</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <script src="/Assets/js/SockJS.js" ></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

</head>
<body>
	<script >
		<!--
		var answer = prompt ("What is your name ?","")
		alert ("Hello there, " + answer)
			sock = new SockJS('/myapp') 
			sock.onopen = function() {
	 			sock.send(answer);
			};
		// -->
	</script>
	
	<h1>This is my Forum!</h1>
	
	
	<h1>Hello
	<script type="text/javascript">
		
		document.write("" + answer )
		$(function() {
			$('#messageID').submit(function(event) {
				event.preventDefault();
	 			sock.send(this.MessageX.value);
			});
			
			sock.onmessage = function(d) {
				$("#name").html(d.data);
			};
		});
		
	</script> 
	
	!</h1>
  <br/>
  <h1>People online now include: <div id="name">    name   </div></h1>
  <br/>
	<h2> Messages start here </h2>
	<form id="messageID">
		Message:<br/>
		<input type="text" name="MessageX"/><br/>
		<input type="submit" value="Submit"/>
	</form> 
	<ul id="messageList">
	</ul>
  <br/>
  <br/>

  
</body>
</html>
