<html>
<head>
  <title>Hello Handlebars</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  
	<script type="text/javascript">
		<!--
		var answer = prompt ("What is your name ?","")
		alert ("Hello there, " + answer)
		// -->
	</script> 

</head>
<body>
  <h1>This is my Church!</h1>

  </br>
  <h1>Hello <script type="text/javascript">
 	<!-- document.write ( answer ) // -->
  </script> !</h1>
  </br>
  <h1>Hello my {{name2}}!</h1>
  </br>
  </br>
  Messages start here
</body>
</html>
